.box {
  padding: 20px;
}

.topBox {
  height: 15vh;
}

.topBox:hover {
  box-shadow: 0px 0px 10px 0px rgba(159, 159, 159, 0.5);
}

.bottomBox:hover {
  box-shadow: 0px 0px 10px 0px rgba(159, 159, 159, 0.5);
}

.grey {
  background: rgb(247, 247, 247);
}

.bottomBox {
  height: 52vh;
}

.subTitle {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
