.input {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

.input_text {
  color: rgb(237, 237, 237);
}

.submit {
  color: #fff;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 150px;
  height: 50px;
  background: rgb(3, 143, 156);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit:hover {
  opacity: .8;
}

.submit_error {
  background: rgb(199, 199, 199);
}